# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/
.pytest_cache/

# Databases
*.db
*.sqlite
*.sqlite3

# Node / Frontend
node_modules/
.npm/
dist/
build/

# IDE / Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# OS
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

# Project Specific
Project Rules/

